.table{
    margin-top: 1vw;
    overflow: scroll;
    height: 18vw;

}

.table tr {
    display: flex;
    justify-content: space-between;
}

.table tr:nth-of-type(odd){
    background-color: #f5f5f5;
}